body {
  background-color: $bg-color;
  user-select: none;
  font-family: 'Alkatra';
}

.bg-image {
  width: $img-width;
  margin: 0 auto;
}

.roboto-slab-text {
  font-family: 'Roboto Slab';
}

.heart-div {
  width: 13vw;
  height: 25vh;
  background-image: url(./assets/images/heart.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}